.followers{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
}

.following{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
}

.followingUser{
    width:48%;
    margin: 1%;
}  

.follower{
    width:48%;
    margin: 1%;
}
