body {
    background-image: url("/images/pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.presentation {
    width: 50%;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 25px;
}

.presentation p {
    font-size: 25px;
    color:white;
}