<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/personalAccount.css">
        <title>Title</title>
    </head>
    <body>
        <nav>
            <div class="container">
                <h2 class="log">
                    twitther
                </h2>
                <div class="search-bar">
                    <i class="uil uil-search"></i>
                    <input type="search" placeholder="Search for friends">
                </div>
                <div th:if="${userDetails}" class="nav-utilities">
                    <label class="btn btn-primary" for="login-logout">
                        <a href="/logout">Logout</a>
                    </label>
                </div>
                <div th:unless="${userDetails}">
                    <label class="btn btn-primary" for="login-logout">
                        <a href="/login">Login</a>
                    </label>
                </div>
            </div>
        </nav>
        <main>
            <div class="container">
                <!--================================== LEFT ==================================-->
                <div class="left">
                    <div class="sidebar">
                        <a href="/index" class="menu-item">
                            <span><i class="uil uil-home"></i></span>
                            <h3>Home</h3>
                        </a>
                        <a class="menu-item">
                            <span><i class="uil uil-compass"></i></span>
                            <h3>Explore</h3>
                        </a>
                        <a class="menu-item">
                            <span><i class="uil uil-user"></i></span> 
                            <h3>Users</h3>
                        </a>
                        <a href="/user/settings" class="menu-item">
                            <span><i class="uil uil-setting"></i></span> 
                            <h3>Settings</h3>
                        </a>
                    </div>
                    <label for="create-post" class="btn btn-primary">Create Post</label>
                </div>
            </div>
        </main>
    </body>
</html>