<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/personalAccount.css">
    <title>Title</title>
</head>

<body>
    <nav>
        <div class="container">
            <h2 class="log">
                twitther
            </h2>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Search for friends">
            </div>
            <div th:if="${userDetails}" class="nav-utilities">
                <a href="/logout">
                    <label class="btn btn-primary" for="login-logout">Logout</label>
                </a>
            </div>
            <div th:unless="${userDetails}">
                <a href="/login">
                    <label class="btn btn-primary" for="login-logout">Login</label>
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <!--================================== LEFT ==================================-->
            <div class="left">
                <div class="sidebar">
                    <a href="/index" class="menu-item">
                        <span><i class="uil uil-home"></i></span>
                        <h3>Home</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-compass"></i></span>
                        <h3>Explore</h3>
                    </a>
                    <a href="/user/analytics" class="menu-item">
                        <span><i class="uil uil-graph-bar"></i></span>
                        <h3>Analytics</h3>
                    </a>
                    <a href="/user/settings" class="menu-item">
                        <span><i class="uil uil-user"></i></span>
                        <h3>Account</h3>
                    </a>
                </div>
                <a href="/user/formNewPost" class="menu-item">
                    <label for="create-post" class="btn btn-primary">Create Post</label>
                </a>
            </div>
            <!--================================== CENTER ==================================-->
            <div class="middle">
                <div class="account">
                    <div class="personal-info">
                        <div class="profile-img">
                            <img th:src="@{'/image/' + ${user.profilePicture.id}}">
                        </div>
                        <div class="account-info">
                            <div>
                                <h1 th:text="${user.username}"></h1>
                                <div th:unless="${followers.contains(currentUser)}">
                                    <a th:href="@{'/user/followUser/' + ${user.id}}"><button class="btn btn-primary" id="open-popup">Follow</button></a>
                                </div>
                                <div th:if="${followers.contains(currentUser)}">
                                    <a th:href="@{'/user/unfollowUser/' + ${user.id}}"><button class="btn btn-primary" id="open-popup">Unfollow</button></a>
                                </div>
                            </div>
                            <div class="account-analytics">
                                <div>
                                    <p><b><span th:text="${posts.getSize()}"></span></b></span> posts</p>
                                </div>
                                <div>
                                    <p><b><span th:text="${followers.getSize()}"></span></b></span> followers</p>
                                </div>
                                <div>
                                    <p><b><span th:text="${following.getSize()}"></span></b></span> following</p>
                                </div>
                            </div>
                            <b>
                                <p th:text="${user.name + ' ' + user.surname}"></p>
                            </b>
                        </div>
                    </div>

                    <div class="account-options">
                        <a class="account-item" id="postsButton">
                            <span><i class="uil uil-user-circle"></i><b>posts</b></span>
                        </a>
                        <a class="account-item" id="followersButton">
                            <span><i class="uil uil-users-alt"></i><b>follower</b></span>
                        </a>
                        <a class="account-item" id="followingButton">
                            <span><i class="uil uil-users-alt"></i><b>following</b></span>
                        </a>
                    </div>

                    <div class="posts" id="postsContainer">
                        <ul th:each="post : ${posts}">
                            <div class="post">
                                <a href="#">
                                    <img th:src="@{'/image/' + ${post.picture.id}}">
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="followers" id="followersContainer">
                        FOLLOWERS
                    </div>
                    <div class="following" id="followingContainer">
                        FOLLOWING
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
    <script src="/js/accountPage.js"></script>
</html>