<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>twitther - Welcome Page</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/welcomePage.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <h2 class="log">
                    twitther
                </h2>
                <div th:if="${currentUser}" class="nav-utilities">
                    <a href="/logout">
                        <label class="btn btn-primary" for="login-logout">Logout</label>
                    </a>
                </div>
                <div th:unless="${currentUser}">
                    <a href="/login">
                        <label class="btn btn-primary" for="login-logout">Login</label>
                    </a>
                </div>
            </div>
        </nav>
        <main>
            <div class="presentation">
                <h1>Welcome to Twitt<span style="color:white">h</span>er!!</h1>
                <p>Unisciti a noi e immergiti in un'esperienza unica, dove puoi connetterti con amici e familiari, condividere momenti speciali e esplorare interessi comuni.

                    Su <span style="color:black;">twitther</span>, puoi facilmente condividere le tue foto preferite con la tua rete di amici e seguire le avventure degli altri. Sfoglia una varietà di contenuti visivi e lasciati ispirare dalle storie e dai momenti condivisi dagli utenti.
                    
                    Inizia il tuo viaggio qui e scopri un mondo di opportunità sociali. Collegati con amici di lunga data, trova nuove connessioni e scopri comunità di persone con interessi simili ai tuoi.</p>
            </div>
        </main>
    </body>
</html>